@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

button {
  transition: all .2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.bg-top {
  background-image: url("/pv0622/l10/bg-top-captura.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0B112E;
}

@media (max-width: 1024px) {
  .bg-top {
    background-image: url("/pv0622/l10/bg-top-captura-mob.webp");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0B112E;
  }
}

.btn-shadow {
  box-shadow: 0px 16px 40px -16px rgba(11, 17, 46, 0.48);
}

.progress-bar {
  width: 0;
  background-color: #FFD52F;
  border-radius: 9999px;
  animation: progress 2s ease-in-out forwards;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.bg-top-conf {
  background: #FFD52F;
}

.after-top-conf {
  width: 121.125rem;
  height: 121.125rem;

  position: absolute;
  left: -5.4375rem;

  top: -109.625rem;

  border-radius: 121.125rem;
  opacity: 0.24;
  background: var(--Feedback-Ateno-Warning-Normal, #FFF);
  filter: blur(332px);
}

.bg-gradient {
  background: linear-gradient(0deg, rgba(11, 17, 46, 0.06)0%, rgba(11, 17, 46, 0.06)100%), #FFF;
}

.list-square {
  list-style: square;
}


.dialog::backdrop {
  background-color: #0000008a;
  backdrop-filter: blur(20px);
}

.dialogMob {
  max-width: calc(100% - -4em - 6px) !important;
}

.hide {
  animation: topToBottomOut 0.8s ease !important;
}

@keyframes fadeOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(800%);
  }
}

/* animação para fechar de cima para baixo */

.top-to-bottom {
  animation: topToBottomIn 1s ease;
}

@keyframes topToBottomIn {
  0% {
    transform: translateY(-800%);
  }

  100% {
    transform: translateY(0);
  }
}

.hide-top {
  animation: topToBottomOut 1s ease !important;
}

@keyframes topToBottomOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(300%);
  }
}

/* animação para fechar de baixo para cima */

.bottom-to-top {
  animation: bottomToTopIn 0.5s ease;
}

@keyframes bottomToTopIn {
  0% {
    transform: translateY(800%);
  }

  100% {
    transform: translateY(0);
  }
}

.hide-bottom {
  animation: bottomToTopOut 1s ease !important;
}

@keyframes bottomToTopOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-800%);
  }
}

/* animação para fechar da esquerda para direita */

.left-to-right {
  animation: leftToRightIn 1s ease;
}

@keyframes leftToRightIn {
  0% {
    transform: translateX(-800%);
  }

  100% {
    transform: translateX(0);
  }
}

.hide-left {
  animation: leftToRightOut 1s ease !important;
}

@keyframes leftToRightOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(800%);
  }
}

/* animação para fechar da esquerda para direita */

.right-to-left {
  animation: rightToLeftIn 1s both;
}

@keyframes rightToLeftIn {
  0% {
    transform: translateX(900%);
  }

  100% {
    transform: translateX(0);
  }
}

.hide-right {
  animation: rightToLeftOut 1s ease !important;
}

@keyframes rightToLeftOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-800%);
  }
}


@media (max-width: 1200px) and (min-width: 1024px) {
  .blur-medium {
    margin-right: -10rem;
  }

  .text-w {
    width: 28rem;
  }
}


.blur-grupo {
  width: 121.125rem;
  height: 121.125rem;
  position: absolute;
  left: -10.5625rem;
  top: -106.375rem;
  border-radius: 121.125rem;
  opacity: 0.24;
  background: #46CCEE;
  filter: blur(332px);
}